*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;

}

.cabecalho {
    background-color: #B4C9FF;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;

}


.cabecalho-lista-item{

display: inline-block;
margin: 0 16px;
font-size: 24px;
}

.escola-imagem{
    width: 35%;

}


.escola{
    background-image: linear-gradient(#B4C9FF,#f95959);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}


.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
    width: 35%;
} 

.estudante{
    background-image: linear-gradient(#f95959,#B4C9FF);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.estudante-div{
    width: 35%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}